<h1>FAQ</h1>

<p>Hello, welcome to the FAQ page. Currently, we have <strong> {{questions.length}}</strong> questions. </p>

<hr>

<h3>Questions</h3>
{{#questions}}
	<li>{{this}}</li>
{{/questions}}


<h3>Answers</h3>
{{#answers}}
	<li>{{this}}</li>
{{/answers}}